<div class='row'>
	<div class='span9'>
		<h1>My Library</h1>
		<%= form_for @book, method: 'post' do |f| %>
		<%= f.text_field :title, placeholder: 'Title' %>
		<%= f.text_field :author, placeholder: 'Author' %>
		<%= f.submit 'Add This Book', class: 'btn btn-primary' %>
		<% end %>
		<table class='table table-hover'>
			<th>Rating</th>
			<th>Title</th>
			<th>Author</th>
			<th></th>
			<th></th>	
			<tbody>
				<% @books.each do |book| %>
				<tr>
					<% if book.rating.present? %>
					<td><%= book.rating %></td>
					<% else %>
					<%= form_for book, method: 'put', class: 'form-inline' do |f| %>
					<td><%= f.number_field :rating, :in => 1...6, style: 'width: 45px;' %> <%= f.submit 'rate book', class: 'btn btn-mini btn-primary' %></td>
					<% end %>
					<% end %>
					<td><%= book.title %></td>
					<td><%= book.author %></td>
					<td><%= link_to 'Add to Favorites', favorites_url(:book_id => book.id), method: 'post', class: 'badge badge-success' %></td>
					<td><%= link_to 'Delete Book', '#', class: 'badge badge-important' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class='span3'>
		<h3>Favorites</h3>
		<ul class='bulletless'>
			<% @favorites.each do |favorite| %>
			<li><%= favorite.book.title %> <%= link_to 'delete',favorite_url(favorite), method: 'delete' %></li>
			<% end %>
		</ul>
	</div>
</div>
