<!DOCTYPE html>
<html>
<head>
  <title>BookFavs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>
	<div class='navbar-inner'>
		<a class='brand' href="/">My Library App</a>
		<ul class='nav'>
			<% if session[:id].present? %>
			<li><%= link_to 'Sign Out', '/logout' %></li>
			<li><%= link_to 'My Library', books_url %></li>
			<% else %>
			<li><%= link_to 'Sign In', root_url %></li>
			<% end %>
			<li><%= link_to 'Sign Up', new_user_url %></li>
		</ul>
	</div>
</div>
<div class='container'>
	<%= notice %>
	<%= yield %>
</div>
</body>
</html>
